.{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(160, 189, 190);
    text-align: center;
}

.contanier{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: rgb(211, 222, 223);
    font-size: 7vmin;
    color: rgb(155, 37, 37);
}

.rest-btn{
    height: 3rem;
    width: auto;
    border-radius: 1rem;
    background-color: rgb(45, 134, 45);
    border: none;
    font-size: 1.8rem;
}

.new-btn{
    padding: 1rem;
    width: auto;
    border-radius: 1rem;
    background-color: rgb(21, 22, 21);
    border: none;
    font-size: 1.25rem;
    color: white;
}

#msg{
    color: wheat;
    font-size: 7vmin;
}

.msg-container{
    height: 30vmin;
}

.hide{
    display: none;
}